@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g1nr78');
  src:  url('fonts/icomoon.eot?g1nr78#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g1nr78') format('truetype'),
    url('fonts/icomoon.woff?g1nr78') format('woff'),
    url('fonts/icomoon.svg?g1nr78#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e902";
  color: #61136d;
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-linkedin:before {
  content: "\eaca";
}
