<template>
  <div class="home small-12">
    <div class='row'>
      <div class='small-12 column homepage-wrapper'>
        <div class='info'>
          <h1>Hristo Topuzov</h1>    
          <p>is profesional voiceover actor. Recording radio and television advertising, creating videos and films, cinema trailers, internet videos and corporate videos.</p>
          <nav id='homeNav'>
            <ul class='no-bullet'>
              <li>
                <router-link to="/audio">AUDIO</router-link>
              </li>
<!--               <li>
                <router-link to="/tv">TV</router-link>
              </li> -->
              <li>
                <router-link to="/videos">VIDEO</router-link>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: 'home',
  mounted() { 
    //TweenMax.to('#homeNav', 1.0, { opacity: 0 });
  }
}
</script>

<style scoped>
  h1 {
    font-size: 105px;
    font-weight: bold;
    margin:0 auto 40px;
  }
  h1 + p {
    font-size: 36px;
    line-height: 1.25;
  }
  nav  {
    margin: 100px auto 0;
    display: table;
  }
  nav ul li {
    border-left: 1px solid #000;
  }
  nav ul li:first-child {
   border-left: 0px solid #000; 
  }
  nav ul li a {
    font-size: 42px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 0 50px;
    line-height: 1;
  }

  .homepage-wrapper {
    position: relative;
    min-height: 100vh;
  }
  .info {
    position: absolute;
    width: calc(100% - 1.85rem);
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

  }
  @media print, screen and (max-width: 40em) {
   h1 {
      font-size: 42px;
      margin-bottom: 25px;
    } 
    h1 + p {
      font-size: 22px;
    }
    nav  {
      margin: 40px auto 0;
    }
    nav ul li a {
     font-size: 24px; 
     padding: 0 20px;
    }
  }
</style>
