<template>
  <div class="about small-12">
    <div class='row'>
      <div class='small-12 column'>
        <div v-for="(id, index) in soundcloud_ids" class='small-12 float-left column '>
          <div class='small-12 '>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" v-bind:src="'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' + id + '&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true'"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'radio',
  data: function() {
    return {  
      soundcloud_ids: [
        '345909249',
        '345909082',
        '92132874',
        '88121593',
        '66600342',
        '66208707',
        '66208706', 
        '66208705',
        '66208703', 
        '66208702',
        '66208701', 
        '66208700', 
        '66208698', 
        '66208697',
        '66208696', 
        ]
    };
  },
  mounted() { 
    //TweenMax.to('#homeNav', 1.0, { opacity: 0 });
  }
}
</script>