<template>
  <div class="about small-12">
    <div class='row'>
      <div class='small-12'>
        <div v-for="(id, index) in youtube_ids" class='small-12 medium-4 float-left column '>
          <div class='small-12 flex-video'>
            <iframe width="420" height="315" v-bind:src="'https://www.youtube.com/embed/' + id" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'video',
  data: function() {
    return {  
      youtube_ids: ['2ULo0f23b3k', 'iCUMxZ7YNnc','xLXrirX4Cj4', 'AY2hXB26Olc', 'jQ43H9Fuzfk', 'WuHVxp-G-Og']
    };
  },
  mounted() { 
    //TweenMax.to('#homeNav', 1.0, { opacity: 0 });
  }
}
</script>

<style>
iframe {width: 100%;}
.flex-video {
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 75%;
    overflow: hidden;
}
</style>