<template>
  <footer class='small-12'>
    <ul class='socials no-bullet'>
      <li><a href='https://soundcloud.com/leprikons' class='soundcloud' target='_blank'><i class='icon-soundcloud'></i></a></li>
      <li><a href='https://www.youtube.com' class='youtube' target='_blank'><i class='icon-youtube'></i></a></li>
      <li><a href='https://www.linkedin.com/in/hristo-topuzov-7668baa/' class='linkedin' target='_blank'><i class='icon-linkedin'></i></a></li>
    </ul>
  </footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style>
  @font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot?svrdp8');
    src:  url('../assets/fonts/icomoon.eot?svrdp8#iefix') format('embedded-opentype'),
      url('../assets/fonts/icomoon.ttf?svrdp8') format('truetype'),
      url('../assets/fonts/icomoon.woff?svrdp8') format('woff'),
      url('../assets/fonts/icomoon.svg?svrdp8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-x:before {
    content: "\e902";
    color: #61136d;
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-soundcloud:before {
    content: "\eac3";
  }
  .icon-linkedin:before {
    content: "\eaca";
  }
  footer {
    position: fixed;
    bottom: 0;
    padding: 25px; 
    background-color:#fff;
  }
  footer ul {float: right;}
  footer ul li {padding-left: 50px;}
  footer a {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    font-size: 16px;
    line-height: 36px;
    width: 36px;
    height: 36px; 
    border-radius: 50%;
    display: block;
  }
  footer a.soundcloud:hover{
    background-color: #f50;
  }
  footer a.youtube:hover{
    background-color: #ff0000;
  }
  footer a.linkedin:hover{
    background-color: #0077b5;
  }
  @media print, screen and (max-width: 40em) {
    footer {padding:10px} 
    footer a {
      font-size: 13px;
      line-height: 24px;
      width: 24px;
      height: 24px; 
    }
    footer ul li {padding-left: 10px;} 
  }
</style>