<template>
  <header class='small-12'> 
    <nav class='row'>
      <ul class='no-bullet main-menu small-12'>
        <li v-bind:class="{ 'selected': $route.path == '/audio' }">
          <router-link to="/audio">Audio</router-link>
        </li>
        <li v-bind:class="{ 'selected': $route.path == '/videos' }">
          <router-link to="/videos">VIDEO</router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<style scoped>
  .main-menu {float: right;}
  nav{padding: 30px 15px;}
  nav ul li {
    border-left: 1px solid #000;
    line-height: 1;
    float: right;
    position: relative;
  }
  nav ul li.selected a {text-decoration: underline;}
  nav ul li:last-child {border-left: 0px solid #000;}
  nav ul li a {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 0 15px;
    line-height: 1;
  }
  nav ul li:first-child a {
    padding-right: 0;
  }
  @media print, screen and (max-width: 40em) {
    nav{padding: 25px 15px;}
  }
</style>