<template>
  <div id="app">
    <div id='logoWrap' v-on:click="showContacts">
      <!-- <img src="./assets/logo.png"> -->
      <span>Contacts</span>
    </div>
    <div id='contacts'>
      <a href="mailto:hristotopuzov@gmail.com" target="_blank">hristotopuzov@gmail.com</a> <br>
      <a href="tel:+359886333370">0886 333 370</a> <br>
      <span>Sofia, Bulgaria</span>
      <i class='icon-x' id='closeX' v-on:click="hideContacts"></i>
    </div>
    <Header v-if="$route.name!='home'"></Header>
    <router-view/>
    <Footer></Footer>
  </div>
</template>

<script>

import {TweenMax, Power2, TimelineLite} from "gsap/TweenMax";
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    Header,
    Footer
  },
  methods: { 
    showContacts(){
      TweenMax.to('#contacts', 1.5, { left: 0 });
    },
    hideContacts(){
      TweenMax.to('#contacts', 1.5, { left: '-100%' });
    }
  },
  beforeUpdate() { 
    //TweenMax.to('#contacts', 0, { right: 'calc(100% + 150px)' });
  }
}
</script>

<style>
  @font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon.eot?svrdp8');
    src:  url('assets/fonts/icomoon.eot?svrdp8#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon.ttf?svrdp8') format('truetype'),
      url('assets/fonts/icomoon.woff?svrdp8') format('woff'),
      url('assets/fonts/icomoon.svg?svrdp8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-x:before {
    content: "\e902";
    color: #fff;
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-soundcloud:before {
    content: "\eac3";
  }
  .icon-linkedin:before {
    content: "\eaca";
  }
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

html, body {
  font-family: 'Cairo', sans-serif;
}
.column {
  flex: 1 1 0px;
  padding-right: 0.925rem;
  padding-left: 0.925rem;
  min-width: initial;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.column {
  width: 100%;
  float: left;
  
}

.small-12 {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media print, screen and (min-width: 40em) {
  .medium-9 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
  }
  .medium-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    width: 66.66666%;
  }
  .medium-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;}
  .medium-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;}
  .medium-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;}
  .medium-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;} 
}
* {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  color: #000000;  
  webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  opacity:1;
  text-decoration: none;
}
a:hover {opacity: 0.8;}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-weight: normal;
  line-height: 1.5;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row {
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.row::before, .row::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
ul.no-bullet {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.no-bullet li{float: left;}
#app {
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
}
#nav {padding: 30px;}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#nav a.router-link-exact-active {color: #42b983;}
#logoWrap {
  background-image: url('./assets/logo.png');
  background-repeat: no-repeat;
  background-position: top  5px center;
  background-size: 45px;
  cursor: pointer;
  display: block;
  padding-top: 50px;
  position: absolute;
  top: 0px;
  left: 40px;
  z-index: 1;
}
#logoWrap span {
  font-size: 14px;
  line-height: 1;
  display: block;
}
#contacts {
  padding: 25px;
  background-color: #000;
  color: #888;
  font-size: 22px;
  position: absolute;
  top: 0;
  left: -100%;
  width: calc(100% - 150px);
  z-index: 5;
  height: 150px;
}
#contacts > * {margin-left: 50px;}
#contacts::after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 0 solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 75px solid black;
  border-right: 0px solid green;
  top: 0;
  position: absolute;
  right: -75px;
}
#contacts a {
  color: #ffffff;
} 
#contacts #closeX {
  cursor: pointer;
  left: 20px;
  position: absolute;
  margin-left: 0;
  top: 20px;
}
@media print, screen and (max-width: 40em) {
  #logoWrap{
    left: 15px;
    background-position: top  5px center;
    background-size: 35px;
    padding-top: 40px;
  }
  #logoWrap span {max-height: 50px;}
  #contacts {
    right: calc(100% + 150px);
    width: calc(100% - 75px);
    font-size: 16px;
    height: 110px;
  }
  #contacts::after {
    border-bottom: 110px solid transparent;
    border-left: 75px solid black;
  }
  #contacts > * {margin-left: 20px;}
  #contacts #closeX {
    font-size: 14px;
    top: 10px;
    left: 10px;
  }
}
</style>
